{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% extends "base.html" %}
{% block body %}
<div class="center">

  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('beerlog.home') }}">AMIV Beerlog</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="{{ url_for('login.logout') }}">Logout</a></li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="content-section">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <h1>AMIV Beerlog Overview</h1>
    <br/>
    <div>
        <form class="form form-horizontal" method="get" role="form">
            {{ wtf.form_field(filterform.user) }}
            {{ wtf.form_field(filterform.date_from) }}
            {{ wtf.form_field(filterform.date_to) }}
            {{ wtf.form_field(filterform.organisation) }}
            {{ wtf.form_field(filterform.group_by_user) }}
            {{ wtf.form_field(filterform.product) }}
            {{ wtf.form_field(filterform.submit) }}
        </form>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Organisation</th>
                    <th scope="col">Consumption</th>
                </tr>
            </thead>
            <tbody>
                {% for report in consumption %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ report.organisation }}</td>
                        <td>{{ report.consumption }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Organisation</th>
                    <th scope="col">Consumption</th>
                </tr>
            </thead>
            <tbody>
                {% for report in ranking.items %}
                    <tr>
                        <th scope="row">{{ first_position + loop.index }}</th>
                        {% if report.user in users %}
                            <td>{{ users[report.user] }}</td>
                        {% else %}
                            <td>{{ report.user }}</td>
                        {% endif %}
                        <td>{{ report.organisation }}</td>
                        <td>{{ report.consumption }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{render_pagination(ranking)}}
    </div>
  </div>
</div>
{% endblock %}
